* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
}

body {
    background: rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background: black;
    margin: 15px 0px;
    padding: 25px 0px;
}

h1 {
    display: inline-block;
    margin-left: 9px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 8px;
}

.calculator__input {
    background: DimGrey;
    margin-top: 50px;
    padding-bottom: 15px;
}

.calculator__input p {
    background-color: black;
    font-weight: 500;
    padding: 5px 0;
}

.calculator__input input,
.calculator__input select,
.calculator__input option
{
    background: rgba(255, 255, 0, 0.9);
    margin: 10px 0;
    width: 350px;
    font-size: 14px;
    color: black;
    border: 1px solid black;
}

.buttons {
    background: rgba(255, 0, 0, 1);
    color: black;
    width: 350px;
    margin: 5px 0;
    font-weight: 500;
    border: 1px solid black;
}

.calculator__output {
    background: rgba(0, 0, 0, 0.2);
    margin: 25px 0;
}